.contain
  -var year = new Date().getFullYear()
  .logo
    a(href="/"): img(src="/markade-black.png", alt="markade")
  .left
    div ©#{year} Ilias Ismanalijev
    div Available under the GPLv3 License.
  .right
    .menu
      a.item(href="https://github.com/illyism/markade") Markade Repo
      a.item(href="https://github.com/illyism/markade-docs") Website Repo