.menu
  .contain
    a.logo.item(href="/")
      img(src="/markade-white.png", height="30")
    +menuItem("/about/", "about", "About")
    +menuItem("/docs/markade.html", "docs/markade", "Documentation")
    +menuItem("/examples/", "examples", "Examples")
    a.item(href="http://github.com/illyism/markade") Github

if ($.title)
  .text
    .contain
      h1.title !{$.title}
      if ($.description)
        p.description !{$.description}