doctype html
html
  include _mixin
  head(lang="en")
    block head
    include _favicon
    title #{$.title} | #{markade.name}
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="keywords", content="static,site,generator,html,markdown, jade, yaml")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(name="description", content="A static site generator that stands on the shoulders of giants.")
    link(rel="stylesheet", href="/css/style.css", type="text/css")
    block style
  body&attributes(body)
    .header
      include _header
      block header

    .container
      block content

    .footer
      include _footer
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45488207-8', 'auto');
      ga('send', 'pageview');
    block script