@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,600,700,800);

/* Reset */

  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    font-family: "Roboto", "Arial", sans-serif;
    background: #e7e7e7;
    color: #333;
    margin: 0;
  }
  body.inverted {
    background: #232122;
    color: #e7e7e7;
  }

  a {
    color: rgba(0,0,0, .9);
    font-weight: bold;
    text-decoration: none;
  }
  a.primary {
    color: #e7c547;
  }
  .centered {
    text-align: center;
  }

  hr {
      padding: 0;
      border: none;
      border-top: 1px solid rgba(0,0,0,.1);
      color: rgba(0,0,0,.1);
      text-align: center;
  }
  hr:after {
      content: "§";
      display: inline-block;
      position: relative; 
      top: -0.7em;  
      font-size: 1.5em;
      padding: 0 0.25em;
      background: #e7e7e7;
  }

  body.inverted hr {
    border-top: none;
    border-bottom: 1px solid rgba(0,0,0, .1);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, .1);
  }
  body.inverted code {
    color: #e7c547;
  }
  body.inverted hr:after {
    display: none;
  }


/* Container */
  .container {
    position: relative;
  }

  .contain {
    max-width: 1024px;
    margin: auto;
  }
  body.small .contain {
    max-width: 600px;
  }

/* Menu */
  .menu.center {
    text-align: center;
  }
  .menu .item,
  .menu a.item {
    display: inline-block;
    padding: 15px .5em;
    font-weight: bold;
  }
  .menu.vertical .item {
    display: block;
    padding: .5em 15px;
  }

/* Header + Footer */
  .header {
    background: #232122;
    color: #e7e7e7;
    min-height: 250px;
  }
  .footer {
    color: #232122;
    background: #e7e7e7;
    min-height: 100px;
    margin-top: 100px;
  }
  body.inverted .footer {
    background: #232122;
    color: #e7e7e7;
  }
  .footer .logo {
    float: left;
    padding: 5px;
  }
  .footer .logo img {
    height: 80px;
  }
  body.inverted .footer .logo{
    display: none;
  }
  .footer .left {
    max-width: 300px;
    font-size: 12px;
    float: left;
    padding: 36px 10px;
  }
  .footer .right {
    float: right;
    font-size: 12px;
    padding: 28px 0;
  }
  .header a, body.inverted a {
    color: rgba(255, 255, 255, 1);
  }

  .header .menu {
    border-bottom: 1px solid rgba(0,0,0, .1);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, .1);
  }
  .header .menu .item,
  .header .menu a.item {
    display: inline-block;
    padding: 15px .5em;
    color: rgba(255,255,255, .7);
  }
  .header .menu a.item:not(.logo):hover {
    color: rgba(255,255,255, .8);
  }
  .header .menu .logo.item {
    color: #e7c547;
    padding: 6px .5em;
    float: left;
  }
  .header .menu .item.active:not(.logo) {
    background: rgba(0,0,0,.05);
    color: rgba(255,255,255, 1);
  }

  .header .text .title {
    color: #fff;
    font-weight: 100;
    font-size: 48px;
    margin: .5em 0px;
  }
  .header .text .description {
    font-size: 18px;
    font-weight: 400;
  }



/* Index */
  .blocks .block {
    width: 33%;
    display: inline-block;
    padding: 15px;
    margin-bottom: 15px;
  }
  @media (max-width: 600px) {
    .blocks .block {
      display: block;
      width: 100%;
    }
  }
  .blocks .block .title {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 16px;
  }
  .blocks .block .description {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 16px;
  }
  .header .version {
    border-top: 1px solid rgba(0,0,0, .1);
    box-shadow: 0px -1px 0px rgba(255, 255, 255, .1);
  }
  .version {
    border-bottom: 1px solid rgba(0,0,0, .05);
  }
  .version .menu .item, .version .menu a.item {
    color: #fff;
    font-weight: 400;
    padding: 15px 2em;
  }
  .version .menu .item.primary {
    color: #e7c547;
  }
  .version .menu a.item {
    font-weight: 600;
  }

/* Docs */
  .main {
    width: 75%;
    display: inline-block;
    background: #fff;
    padding: 15px 30px;
    margin-top: -18px;
    min-height: 100vh;
  }
 .main hr:after {
    content: "§";
    display: inline-block;
    position: relative; 
    top: -0.7em;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #fff;
  }

  .main h1 {
    margin-top: 0px;
  }
  .sidebar {
    width: 25%;
    float: right;
    display: inline-block;
  }
  .sidebar .menu .item {
    padding: 15px;
    border-bottom: 1px dotted rgba(0,0,0, .2);
  }
 .sidebar .menu .item.sub {
    margin-left: 20px;
    font-size: 14px;
    border-bottom: none;
  }
  .sidebar .menu .item.active {
    background: #fff;
    color: #000;
  }

/* Terminal */

  .terminal {
    font-size: 18px;
    line-height: 24px;
    font-family: monospace;
    margin: 1em auto 2em;
  }

  .terminal .title {
    margin: 0 20px;
    padding: 5px 10px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.5);
    box-shadow: 0 3px 5px rgba(0,0,0,0.5);
    font: 16px/24px 'Roboto', Helvetica, Arial, sans-serif;
    color: #ccc;
    font-weight: 600;
    background-color: #252525;
    border-bottom: 1px solid #111;
  }
  .terminal .title a {
    color: #ccc;
  }
  .terminal .title .btn {
    padding: 0 10px;
    float: right;
  }
  .terminal .title .btn.b1:hover {
    color: #F75858;
  }
  .terminal .title .btn.b2:hover {
    color: #FFDA53;
  }
  .terminal .title .btn.b3:hover {
    color: #9fbb58;
  }

  .shell {
    padding: 20px;
    text-shadow: none;
    margin: 0 20px;
    background-color: #1d1f21;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);

    counter-reset: lineNumber;
  }

  .shell code {
    color: #eaeaea;
  }

  .shell .line {
    display: block;
    margin: 0;
    padding: 0;
  }
  .shell .line:hover {
    background: #282a2e;
  }
  .shell .line:before {
    content: counter(lineNumber);
    counter-increment: lineNumber;
    color: #969896;
    margin-right: 1ch;
  }
  .shell .line:hover .cmd {
    color: #fff;
  }
  .shell .line .dir {
    color: #e7c547;
  }
  .shell .line .prompt {
    color: #d54e53;
  }
  .shell .line .cmd {
    color: #eaeaea;
  }
  .shell .line .dir,
  .shell .line .prompt,
  .shell .line:before {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .terminal.group .shell {
    overflow: hidden;
    padding: 0;
    line-height: 0;
  }
  .terminal.group .shell, .terminal.group .title {
    margin: 0;
  }
  .terminal.group code, .terminal.group .result  {
    line-height: 14px;
    font-size: 12px;

    color: #fff;

    padding: .5em 1.5em;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */

    width: 50%;
    float: left;

    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;

    zoom: 1;
    *display: inline;
  }
  .terminal.group code:before {
    text-transform: uppercase;
    display: block;
    font-weight: 800;
  }
  .terminal.group.vertical code {
    display: block;
    float: none;
    width: 100%;
  }
  .terminal.group.vertical code:first-child {
    border-bottom: 1px dashed rgba(255,255,255,.2);
  }
  .terminal.group .jade code:first-child:before {
    content: "jade";
  }
  .terminal.group .jade code:last-child:before {
    content: "html";
  }

  .terminal.group .markdown code:first-child:before {
    content: "markdown";
  }
  .terminal.group .markdown .result {

  }
  .terminal.group .markdown .result:last-child:before {
    content: "result";
    text-transform: uppercase;
    display: block;
    font-weight: 800;
  }


  code {
    color: #000;
    background: rgba(0,0,0,.05);
    padding: 0.4em;
  }

  table {
    background: #F4F4F4;
    width: 100%;
    border-collapse: collapse;
  }

  table tbody td {
    padding: 5px;
    vertical-align: top;
  }

  table tbody tr:nth-child(2n) {
    background-color: rgba(0,0,0,.05);
  }
  table tbody td.string {
    color: #065793;
  }
  table tbody td.object {
    color: #1E9F26;
  }
  table tbody td.function {
    color: #C42121;
  }
  table tbody td.boolean {
    color: #B0579A;
  }

/* Example */

.example {
  max-width: 25%;
  display: inline-block;
  padding: 20px;
}

.example.wide {
  max-width: 100%;
  width: 100%;
  padding: 4em 0;
  border-bottom: 1px solid rgba(255,255,255,.1);
}

.example img {
  width: 100%;
  height: auto;
}