extend _includes/_layout

block head
  - var body = {class: "inverted small"};

block content
  .contain
    for ex in $$
      +example(ex)

append style
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/tomorrow-night.min.css">

append script
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
  script.
    $(document).ready(function() {
      $('pre code').each(function(i, block) {
        block.className = block.className.replace("lang-", "");
        hljs.highlightBlock(block);
      });
      
    });