extend _includes/_layout

block header
  include _includes/_version

block content
  .blocks
    .contain
      for block in $.headerBlocks
        .block
          .title #{block.title}
          .description #{block.description}
          a(href=block.link.url) #{block.link.title}
  hr
  .contain
    +terminal("Quick-start Instructions", $.shell)
  hr
  .contain
    +terminal("Initializing a Markade directory", null, blocks.init.html)
  hr
  .contain
    +terminal("Compiling a Markade directory", null, blocks.compile.html)
  hr
  .contain
    +terminal("Watching a Markade directory, and launching a server", null, blocks.watch.html)