extend _includes/_layout

block header
  include _includes/_version

block content
  .blocks
    .contain
      for block in $.headerBlocks
        .block
          .title #{block.title}
          .description #{block.description}
          a(href=block.link.url) #{block.link.title}
  hr
  .contain
    +terminal("Quick-start Instructions", $.shell)
  hr
  .contain
    h1.centered Examples
    +example($$.local)
    +example($$.tasktool)
    +example($$.sample)
    +example($$.docs)