html
  head
    meta(http-equiv="refresh", content="1; url="+$.to)
    script.
      window.location.href = "#{$.to}";
    title Page Redirection
  body
    | If you are not redirected automatically, follow the 
    a(href=$.to) link