extend ../_includes/_layout

block content
  .contain
    .main
      if (html)
        | !{html}
    .sidebar#sidebar(style="position: sticky;")
      .menu.vertical
        +docsMenu("/docs/markade.html", "docs/markade", "Markade", $.nav)
        +docsMenu("/docs/markdown.html", "docs/markdown", "Content", $.nav)
        +docsMenu("/docs/jade.html", "docs/jade", "Templates", $.nav)
        +docsMenu("/docs/yaml.html", "docs/yaml", "Data", $.nav)


append style
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/tomorrow-night.min.css">

append script
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
  script.
    $(document).ready(function() {
      $('.terminal.group .jade.shell').each(function(i, block) {
        var first = block.children[0];
        var second = block.children[1];
        first.className = "jade";
        second.className = "html";
      });
      $('pre code').each(function(i, block) {
        block.className = block.className.replace("lang-", "");
        hljs.highlightBlock(block);
      });
      
      var menu = document.querySelector('.sidebar')
      var menuPosition = menu.getBoundingClientRect().top;
      window.onscroll = function() {
          if (window.pageYOffset >= menuPosition) {
              menu.style.position = 'fixed';
              menu.style.top = '0px';
          } else {
              menu.style.position = 'static';
              menu.style.top = '';
          }
      };

      $('table td:nth-child(2):contains("string")').addClass("string")
      $('table td:nth-child(2):contains("object")').addClass("object")
      $('table td:nth-child(2):contains("function")').addClass("function")
      $('table td:nth-child(2):contains("boolean")').addClass("boolean")
    });